.top-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.search-area {
  display: flex;
}

.search-form {
  width: 200px;
  margin-right: 10px;
}

.button-area {
  /* padding-right: 5px; */
}
