.top-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.search-area {
  /* padding-left: 5px; */
}

.button-area {
  /* padding-right: 5px; */
}
