.top-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.search-area {
  display: flex;
}

.search-form {
  width: 200px;
  margin-right: 10px;
}

.button-area {
  display: flex;
}

.record-type-expense {
  color: blue !important;
  width: 110px;
  text-align: right;
}

.record-type-income {
  color: red !important;
  width: 110px;
  text-align: right;
}
